/* Fundo escuro geral */
body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

/* Container principal */
.container {
    max-width: 600px;
    margin-top: 50px;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

/* Inputs e selects */
.form-control {
    background-color: #2a2a2a;
    color: #ffffff;
    border: 1px solid #444;
}

/* Título */
h2 {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #007bff; /* Verde suave para destaque */
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 2%;
}

.form-control:focus {
    background-color: #333;
    border-color: #007bff;
    color: #ffffff;
}

/* Botões primários */
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

/* Botão de cópia */
.btn-warning {
    background-color: #ffc107;
    border-color: #ffc107;
    color: #000;
}

.btn-warning:hover {
    background-color: #e0a800;
    border-color: #d39e00;
}

/* Caixa de resultado */
.result-box {
    margin-top: 20px;
    padding: 15px;
    background-color: #212121;
    border: 1px solid #444;
    border-radius: 8px;
}

/* Rodapé */
footer {
    text-align: center;
    margin-top: 20px;
    color: #aaa;
}

footer a {
    color: #007bff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Adicionando a animação de onda para cada letra do nome */
footer .name-animation {
    display: inline-block;
    font-weight: sans-serif;
    color: #007bff; /* Cor azul suave */
    font-size: 16px; /* Ajuste o tamanho da fonte conforme necessário */
}

footer .name-animation span {
    display: inline-block;
    animation: waveEffect 3s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i)); /* Delay para criar o efeito sequencial */
}

/* Animação de onda */
@keyframes waveEffect {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-10px); /* Move para cima */
    }
    50% {
        transform: translateY(0); /* Retorna à posição original */
    }
}

/* Animação do robô */
.robot-animation {
    display: inline-block;
    animation: moveRobot 2s linear infinite;
}

.robot-image {
    width: 100px;
    height: auto;
    filter: brightness(0.8);
}

/* Efeito de movimento */
@keyframes moveRobot {
    0% { transform: translateX(0); }
    50% { transform: translateX(10px); }
    100% { transform: translateX(0); }
}
