<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta de Protocolo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>

<div class="container">
    <h2 class="text-center">ResumAI</h2>
    <form id="protocolForm">
        <div class="mb-3">
            <label for="protocol" class="form-label">Número do Protocolo (Digisac)</label>
            <input type="text" class="form-control" id="protocol" required>
        </div>
        <div class="mb-3">
            <label for="chatType" class="form-label">Selecione o Chat</label>
            <select class="form-control" id="chatType" required>
                <option value="Acessórias - CHAT">Acessórias - CHAT</option>
                <option value="Sittax - Chat">Sittax - Chat</option>
            </select>
        </div>
        <button onclick="showLoading()" type="submit" class="btn btn-primary w-100 ">Resumir</button>      
    </form>

    <div id="loadingContainer" style="display: none; text-align: center; margin-top: 20px;">
        <div class="robot-animation">
            <img src="../static/img/drib.gif" alt="Robô carregando" class="robot-image">
        </div>
        <p>Quer tudo na mão.<br>Só não roubei teu emprego porque não é a hora!</p>
    </div>    

    <div id="result" class="result-box" style="display:none;">
        <!--<h4>Resultado da Consulta em JSON:</h4>-->
        <!--<pre id="resultData"></pre>-->

        <h4>Resumo da Conversa:</h4>
        <pre id="summaryData"></pre>

        <button id="copyButton" class="btn btn-warning mt-3">Copiar Resumo</button>

        <div id="importBox" style="display:none; margin-top: 20px;">
            <h4>Importar para o Bitrix?</h4>
            <form id="bitrixForm">
                <div class="mb-3">
                    <label for="cnpj" class="form-label">CNPJ - 00.000.000/0000-00</label>
                    <input type="text" class="form-control" id="cnpj" name="cnpj" maxlength="18" placeholder="Digito o CNPJ" required>
                </div>
                <div class="mb-3">
                    <label for="responsible" class="form-label">Responsável</label>
                    <select class="form-control" id="responsible" required>
                        <option value="" selected>Selecione o responsável</option>
                        <option value="515">Gabriele Blazius</option>
                        <option value="543">Gabriele Araujo Fernandes</option>
                        <option value="527">Gabriel Aires</option>
                        <option value="513">Gabriel Fernandes</option>
                        <option value="205">Gabriel Rangel</option>
                        <option value="209">Elton Santos</option>
                        <option value="213">Lucas Diego</option>
                        <option value="423">Nathan Moraes</option>
                        <option value="173">Victor Cals</option>
                        <option value="399">Raul Castelnou</option>
                        <option value="311">Diogo Gonçalves</option>
                        <option value="217">Matheus Martins</option>
                        <option value="225">Felipe Silverio</option>
                        <option value="295">Jayana Barbosa</option>
                        <option value="461">Thonne Cleiton</option>
                        <option value="541">Paulo Barbosa</option>
                        <option value="371">Paulo Filho</option>
                        <option value="537">Bruno Andrade</option>
                        <option value="43">Gustavo Coelho</option>
                        <option value="537">Bruna Magalhães</option>
                        <option value="273">Henrique Makuch</option>
                        <option value="429">Sara Ribeiro</option>
                        <option value="465">Leandro Santos</option>
                        <option value="511">Millena Herrero</option>
                        <option value="539">Antony Lidio</option>
                    </select>
                </div>

                <!--Aplicar aqui um select para fechar o chamado com assunto-->

                <button type="submit" class="btn btn-primary w-100">Importar para o bitrix</button>
            </form>
        </div>
    </div>
</div>

<footer class="text-center mt-5">
    <p>&copy; 2025, Desenvolvido por 
        <strong class="name-animation">
            <span style="--i:0">E</span>
            <span style="--i:1">l</span>
            <span style="--i:2">t</span>
            <span style="--i:3">o</span>
            <span style="--i:4">n</span>
            <span style="--i:5"> </span>
            <span style="--i:6">S</span>
            <span style="--i:7">a</span>
            <span style="--i:8">n</span>
            <span style="--i:9">t</span>
            <span style="--i:10">o</span>
            <span style="--i:11">s</span>
        </strong>
    </p>
    <div>
        <a href="https://wa.me/5541998306017" target="_blank" class="btn btn-outline-success btn-sm">
            <i class="fab fa-whatsapp"></i> WhatsApp
        </a>
        <a href="https://www.linkedin.com/in/elton-santos-br/" target="_blank" class="btn btn-outline-primary btn-sm">
            <i class="fab fa-linkedin"></i> LinkedIn
        </a>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>
